
h1 {
	font-size: 200px;
	font-style: normal;
	font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #1d1d1f;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	line-height: 0.3;
	width: 100%;
}

h2 {
	font-size: 1.3em;
	font-style: normal;
	font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #1d1d1f;
	-webkit-font-smoothing: antialiased;	
	font-weight: 500;
}

@media only screen and (hover: none) and (pointer: coarse){

	h1 {
		font-size: 80px;
		font-style: normal;
		font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #1d1d1f;
		-webkit-font-smoothing: antialiased;
		text-align: center;
		line-height: 0.3;
		width: 100%;
	}
}


body,
html {
	line-height: 1.38462;
	font-weight: 400;
	letter-spacing: -.005em;
	font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	color: #1d1d1f;
	-webkit-font-smoothing: antialiased;	
	padding: 1em;
	width: 100%
}

* {
	box-sizing: border-box;
}



hr {
	border: 0.5px solid rgb(200,200,200);
}

.content {
	max-width: 600px;
	min-width: 340px;
	margin: auto;
}

a:link {
	color: #4EA3D0;
	text-decoration: none;
}

a:visited {
	color: #4EA3D0;
	text-decoration: none;
}

a:hover {	
	transition: color .5s;
 	color: #135a80;	
}


a:active {
	color: #4EA3D0;
	text-decoration: none;
}

